<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">
     <link href="../../static/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
	
      body {
		  background:;
        padding-top: 0px;
        padding-bottom: 40px;
      }
	  .logo{
		  float:;
		  border-radius:3px;
		  -webkit-border-radius:3px;
		  -moz-border-radius:3px;
		  width:150px;
		  height:60px;
		  margin:5px 0px 10px 0px;
		  background:#A00;}
	  .homeleft{
		  float:left;
		  width:560px;}
		  
		   .homeright{
		  float: right;
		  text-align:center;
		  background:#fff;
		  padding:10px;
		  border:3px solid  #616130;
		  border-radius:6px;
		  -webkit-border-radius:6px;
		  -moz-border-radius:6px;
		  width:360px;
		  height:260px;}
		  .header_nav
{
	float:right;
	margin:0px 20px 0px 0px}
	.header_nav ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

.header_nav ul li {
	float: left;
}

.header_nav a {
	display: block;
	margin-right: 1px;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #888;
		}
		.search{
			margin:5px 5px 0px 0px;}
			.search_f{
				list-style:none;
				padding:0px 0px 0px 0px;}
				
						  .footer_nav
{
	float:right;
	margin:0px 20px 0px 0px}
	.footer_nav ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

.footer_nav ul li {
	float: left;
}

.footer_nav a {
	display: block;
	margin-right: 1px;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #888;
		}
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>


    <div class="container">
    <div>
     <div class="header_nav" ><!--header_nav -->
     
		<ul>
			<li class=""><a href="">Help</a></li>
            <li><a href=""><img src="fb_login.png"></a></li>
			<li><a href="">Sign Up</a></li>
            <li class=""><a href="">Login</a></li>
		</ul>
    
  </div><!--header_nav -->
    <div class="logo"> <h1>Logo</h1></div>
    
   </div>
     
     <div id="navbar-example" class="navbar navbar-static">
            <div class="navbar-inner" style="width:; padding-top:8px;">
              <div class="container" style="width: ;">
               <!-- <a class="brand" href="#">Project Name</a> -->
                <ul class="nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <!--<b class="caret"></b> --></a>
                   
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Post project<!--<b class="caret"></b> --></a>
                    
                  </li>
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse project<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Latest project</a></li>
                      <li><a href="#">Ongoing project</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li>
                  
                </ul>
               
                    <form style="float:right;"  class="search" >
        <input type="text" placeholder="Search muchuba for Projects">
        
        <input  class="btn btn-primary" type="submit" value="Search" style="margin-top:0px; margin-bottom:10px;">
        </form>
                   
               
              </div>
              
            </div>
            
          </div> <!-- /navbar-example -->

      <!-- Main hero unit for a primary marketing message or call to action -->
      <!--<div class="hero-unit" style="height:300px;">
        <div class="homeleft">
        <h1>Muchuba</h1>
        
        <p>Muchuba connects you to skilled proffesionals to have your project done in the shortest time possible for a little price.</p>
        <p><a class="btn btn-primary btn-large">Post a project for free &raquo;</a></p>
        </div>
        
        <div class="homeright">
        <p>Select the kind of Project you need to be done</p>
        <form >
        <select class="span3">
        <option value="1">Websites IT &amp; Software</option><option value="2">Mobile</option><option value="3">Writing</option><option value="4">Design</option><option value="5">Data Entry</option><option value="6">Product Sourcing &amp; Manufacturing</option><option value="7">Sales &amp; Marketing</option><option value="8">Business, Accounting &amp; Legal</option><option value="-1" selected>Select a Category</option>
        
        </select><br>
        <input  class="btn btn-primary span3" type="submit" value="Post project">
        </form>
        </div>
      </div> -->

     

          
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  <strong>Employer View</strong>
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  
                  
                  <ul id="tab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Work in Progress</a></li>
            <li><a href="#profile" data-toggle="tab">Past projects</a></li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#dropdown1" data-toggle="tab">@fat</a></li>
                <li><a href="#dropdown2" data-toggle="tab">@mdo</a></li>
              </ul>
            </li> -->
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
            <div class="tab-pane fade" id="profile">
              <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </div>
            <!--<div class="tab-pane fade" id="dropdown1">
              <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </div>
            <div class="tab-pane fade" id="dropdown2">
              <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
            </div> -->
          </div>
                  
                  
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  <strong>Muchuba View</strong>
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
      <hr>

      <footer>
      <div class="footer_nav" ><!--header_nav -->
     
		<ul>
			<li class=""><a href="">Help</a></li>
            <li><a href="">About muchuba</a></li>
            <li class=""><a href="">Privacy policy</a></li>
            <li class=""><a href="">Terms &amp; Conditions</a></li>
		</ul>
    
  </div><!--header_nav -->
        <p>&copy; muchuba 2012 All rights reserved</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/js.js"></script>
    <script src="../../static/js/bootstrap.js"></script>


  </body>
</html>
